/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Begin my CSS*/

 /* Mobile First Design */

 /* General Styling */

html {
    box-sizing: border-box;
    background-color: rgba(122, 191, 191, .5);
}

body {
    margin: 0 auto;
    min-width: 414px;
    max-width: 413px;
}

/* Fonts */
h1, h2, h3 {
    font-family: 'Bebas Neue', Arial, cursive;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', Arial, cursive;
    font-weight: 400;
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}

/* Main Content */
header {
    background-color: #F2F2F2;
}

main {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
}

main img {
    width: 100%;
}

aside img {
    width: 25%;
}

aside dd {
    visibility: hidden;
}

menu {
    background-color: #F2F2F2;
    
}

/* Options Menu */

menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 

menu a {
    text-decoration: none;
    color: #EB5428;
    align-items: center;
}

menu li {
    list-style-type: none;
}

/*Navigation */
nav {
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

nav h2 {
    visibility: hidden;
}

/* More Dishes */

aside  {
    background-color: #7ABFBF;
}

#moreDishes section:hover {
    background-color: #EB5428;
    color: white;
}

/* Footer */

footer {
    background-color: white;
}

footer img {
    width: 25%;
}

/* Mid-sized Screens*/
 @media screen and (min-width: 768px) {
    body {
        max-width: 768px;
    }
    menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #moreDishes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #moreDishes img {
        float: left;
        margin-left: 20px;
    }
 }

/* Large Screens*/
@media screen and (min-width: 1280px) {
    body {
        max-width: 1280px;
    }
    menu {
        background-color: white;
    }
    main img {
        width: 65%;
    }
    aside img {
        width: 25%;
    }

}